
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Step-2*@
<h1>This is Appointment view</h1>
<br />
<h2>Today's date is @DateTime.Today.ToShortDateString()</h2>








